.carousel-indicators li {
  background-color: #1b6d85;
  width: 1em;
}
.container-fluid a {
  font-size: 1.2em;
}
.jumbotron {
  padding-bottom: 15%;
  margin-bottom: 0px;
}
#about {
  margin: 4% 10% 4% 15%;
}
#about h3 {
  font-family: merriweather;
  font-size: 2.3em;
}
#about p {
  padding-top: 2%;
}
#hire-work {
  margin-left: 15%;
  margin-right: 10%;
}
#hire-work a {
  width: 75%;
  margin-top: 3%;
}
#events {
  margin-left: 15%;
  margin-right: 10%;
}
#events h3 {
  font-family: merriweather;
  font-size: 2.3em;
}
#events h4 {
  font-family: merriweather;
  font-size: 1.84em;
  padding-bottom: 3%;
  padding-left: 16%;
}
#events a {
  width: 75%;
  margin-bottom: 10%;
}
#events p {
  padding-top: 2%;
  padding-bottom: 5%;
}
#events h3 {
  padding-top: 10%;
}
#footer {
  padding-left: 10%;
  padding-top: 4%;
  color: #999999;
}
#footer table {
  float: left;
}
#footer .borderless td,
#footer .borderless th {
  border: none;
}
.borderless a {
  text-decoration: none;
  color: #999999;
}
.borderless a:hover {
  color: #1f7e9a;
}
.navbar {
  -webkit-transition: all 0.6s ease-out;
  -moz-transition: all 0.6s ease-out;
  -o-transition: all 0.6s ease-out;
  -ms-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out;
}
.navbar.scrolled {
  background: #444444;
  background: rgba(0, 0, 0, 0.8);
}
